h1{
    text-align: center;
}

img{
    width: 800px;
}

body{
    background-color: blanchedalmond;
}

.dialog {
    font-style: italic;
}

.facebook {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* O el tamaño que tú quieras */
}

/*style class for fairytale main characters*/
.mainChar{
    font-weight: bold;
}

